{% extends "base.html" %}
{% block material %}

<h3 class="center-align">All Book Reviews</h3>

<!-- search box -->
<div class="row card-panel orange lighten-4">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Books</label>
            </div>
            <!-- search buttons -->
            <div class="col s12 m4">
                <a href="{{ url_for('get_books') }}" class="red btn">Reset</a>
                <button type="submit" class="light-blue darken-1 btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if books|length > 0 %}

<!-- cards with the books -->
<ul class="collapsible popout">
    {% for book in books %}
    <li>
        <div class="collapsible-header orange lighten-4">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == book.created_by|lower %}
                    <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn-small green accent-4">Delete</a>
                    <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                Book Title: <strong>{{ book.book_name }}</strong> |  Author: {{ book.author }}
                {% if book.recommend == "yes" %}
                    <i class="far fa-check-circle tooltipped yellow"
                        data-position="top" data-tooltip="Recommended!"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <!-- review details -->
            <p>Review: {{ book.review }}</p>
            <p><em>Reviewed By: {{ book.created_by }}</em></p>
            <!-- Purchase Link Button -->
            {% if book.book_link != null %}
                <a href="https://www.amazon.co.uk/books-used-books-textbooks/b/?ie=UTF8&node=266239&ref_=nav_cs_books_6b4f547cd6ea4c69a8c8ec0eb18206c9"
                target="_blank" class="btn-floating tooltipped purchase-btn" data-position="bottom" data-tooltip="Amazon Link">
                    <i class="fab fa-amazon"></i>
                </a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
    <!-- flash if search finds nothing -->
    <h3 class="center-align red-text"><i class="fas fa-exclamation-triangle"></i>
         No results found <i class="fas fa-exclamation-triangle"></i> <br>
         Have you searched a full word?</h3>
{% endif %}

{% endblock %}