{% extends "base.html" %}
{% block material %}

{% for book in books %}
{{ book.book_name }}<br>
{{ book.author }}<br>
{{ book.review }}<br>
{{ book.recommend }}<br>
{% endfor %}

<ul class="collapsible popout">
    <li>
        <div class="collapsible-header orange lighten-4"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header orange lighten-4"><i class="fas fa-caret-down"></i>econd</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header orange lighten-4"><i class="fas fa-caret-down"></i>hird</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}