{% extends "base.html" %}
{% block material %}


<ul class="collapsible popout">
    {% for book in books %}
    <li>
        <div class="collapsible-header orange lighten-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ book.book_name }}</strong> : {{ book.author }}
            {% if book.recommend == "yes" %}
                <i class="far fa-check-circle tooltipped"
                data-position="top" data-tooltip="Recommended!"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <p>{{ book.review }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}